/* sidebar Nav */

.navBar {
  position: relative;
}

.navBar button {
  cursor: pointer;
  background: none;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  position: fixed;
  background-color: black;
  left: -150px;
  width: 0;
  overflow: hidden;
}

.menuNav.showMenu {
  width: 100%;
}

.close {
  color: white;
  position: relative;
  top: 5px;
  left: 350px;
  height: 20px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

li span {
  margin: 0 0 0 20px;
  font-size: 25px;
}

.menuItems {
  position: relative;
  left: 130px;
  color: white;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
}

a:active {
  color: yellow;
}