iframe {
  border: none;
  border-radius: 30px;
  padding-top: 50px;
}

.iframe-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.title {
  color: #DFB98E;
  margin: 30px 0 0 0;
  font-size: 35px;
}

.subtitle {
  color: white;
  margin: 10px 0 0 0;
  font-size: 22px;
}

.title-two {
  color: black;
  font-size: 25px;
  margin: 170px 0 0 0;
  
}

.title-three {
  color: white;
  font-size: 25px;
  margin: 25px 0 0 0;
}

.listen-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.platform-link-styles {
  width: 100%;
  background-color: transparent;
}

.platform-link-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
  align-items: center;
  background-color: black;
}

.platform-link-container a {
  padding: 0;
}

.platform-link-container figure {
  margin: 16px 60px 16px 60px; 
}

.wave {
  position: absolute;
  top: 553px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 190px;
}

.wave .shape-fill {
  fill: black;
}

.disclosure-text {
  font-size: 10px;
}

.live-shows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liveshows-card-container {
  width: 90%;
  height: 640px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.726);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.card-top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venue {
  font-size: 25px;
  margin: 10px 0 10px 0;
  color: black;
}

.venue-location-row {
  display: flex;
}

.city, .state {
  font-size: 25px;
  margin: 0;
}

.show-date-row {
  display: flex;
}

.show-date-text {
  font-size: 25px;
  margin: 5px;
  color: black;
}

.buy-tickets {
  background-color: darkgrey;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.buy-tickets:hover, .card-bottom-btn-styles:hover {
  background-color: #dfb98e65;
}

.card-bottom {
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
}

.card-bottom-btn-styles {
  border-radius: 5px;
  border: none;
  background-color: darkgrey;
  color: white;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
}
/* Tablets */
@media only screen and (min-width: 391px) and (max-width: 830px) {
  .wave {
    top: 559px;
    margin: 10px 0 5px 0;
  }

  .title-two {
    font-size: 30px;
  }

  .disclosure-text {
    font-size: 12px;
  }

  .liveshows-card-container {
    width: 80%;
  }

  .card-bottom-btn-styles {
    width: 30%;
  }

  .title-three {
    font-size: 30px;
  }

  .platform-link-container a {
    width: 50%;
    padding: 15px;
  }

  .platform-link-container figure {
    margin: 0;
  }

  .tablet-row {
    display: flex;
  }
}