iframe {
  border: none;
  border-radius: 15px;
}

.iframe-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: black;
  margin: 10px 0 10px 0;
  font-size: 35px;
}

.subtitle {
  color: white;
  margin: 10px 0 0 0;
  font-size: 22px;
}

.title-two {
  color: black;
  font-size: 25px;
  margin-top: 30px;
  
}

.title-three {
  color: white;
  font-size: 25px;
  margin: 25px 0 0 0;
}

.listen-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.platform-link-styles {
  width: 100%;
  background-color: transparent;
}

.platform-link-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  align-items: center;
  background-color: black;
  width: 90%;
  border-radius: 10px;
}

.platform-link-container a {
  padding: 0;
}

.platform-link-container figure {
  margin: 16px 60px 16px 60px; 
}

.wave {
  position: absolute;
  top: 553px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 190px;
}

.wave .shape-fill {
  fill: black;
}

.disclosure-text {
  font-size: 12px;
  width: 90%;
  margin: 0 0 20px 0;
}

.live-shows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liveshows-card-container {
  width: 90%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.726);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.card-top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venue {
  font-size: 25px;
  margin: 10px 0 10px 0;
  color: black;
}

.venue-location-row {
  display: flex;
}

.city, .state {
  font-size: 25px;
  margin: 0;
}

.show-date-row {
  display: flex;
}

.show-date-text {
  font-size: 25px;
  margin: 5px;
  color: black;
}

.buy-tickets {
  background-color: darkgrey;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.buy-tickets:hover, .card-bottom-btn-styles:hover {
  background-color: #dfb98e65;
}

.card-bottom {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.card-bottom-btn-styles {
  border-radius: 5px;
  border: none;
  background-color: darkgrey;
  color: white;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
}
/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .wave {
    top: 610px;
    margin: 10px 0 5px 0;
  }

  .title-two {
    font-size: 30px;
  }

  .disclosure-text {
    font-size: 15px;
    text-align: center;
  }

  .liveshows-card-container {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .card-bottom-btn-styles {
    width: 30%;
  }

  .title-three {
    font-size: 30px;
  }

  .platform-link-container {
    width: 80%;
  }

  .platform-link-container a {
    width: 50%;
    padding: 15px;
  }

  .platform-link-container figure {
    margin: 0;
  }

  .tablet-row {
    display: flex;
  }

  iframe {
    height: 400px;
    width: 700px;
  }
  
  .card-top-section {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin: 10px 0 5px 0;
  }

  .venue {
    font-size: 22px;
  }

  .city, .state, .show-date-text {
    font-size: 20px;
  }

  .buy-tickets {
    margin-bottom: 5px;
  }
}
/* Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1900px) {
  .title {
    font-size: 80px;
  }

  .wave {
    top: 1199px;
  }

  .wave svg {
    height: 270px;
  }

  .title-two {
    font-size: 50px;
  }

  .disclosure-text {
    font-size: 15px;
  }

  .liveshows-card-container {
    height: 470px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: initial;
  }

  .card-bottom-btn-styles {
    width: 10%;
  }

  .title-three {
    font-size: 30px;
  }

  .platform-link-container a {
    width: 50%;
    padding: 15px;
  }

  .platform-link-container figure {
    margin: 0;
  }

  .tablet-row {
    display: flex;
  }

  .venue {
    font-size: 30px;
    margin: 0 0 0 20px;
  }

  .city, .state {
    font-size: 30px;
  }

  .show-date-text {
    font-size: 20px;
  }

  .card-top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .buy-tickets {
    font-size: 20px;
    margin: 0 20px 0 0;
  }

  .show-date-row {
    margin: 0 20px 0 20px;
  }

  .venue-location-row {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
}