footer {
  display: flex;
  flex-direction: column;
  background-color: black;
}

footer, a {
  padding: 0;
  display: flex;
}

.footer-icons {
  font-size: 20px;
  color: white;
}

.footer-text {
  font-size: 14px;
  margin: 0;
  color: white;
}

.footer-icons:hover, .footer-text:hover {
  color: rgb(255, 208, 0);
}

.media-icons:hover {
  color: rgb(255, 208, 0);
}

.footer-icons:active, .footer-text:active, .media-icons:active {
  color: rgba(255, 255, 255, 0.582);
}

.copyright-container {
  display: flex;
  justify-content: center;
}

.copyright-styles {
  color: white;
  margin: 0;
  padding: 10px 0 10px 0;
}

.footer-link-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.media-container {
  display: flex;
  justify-content: center;
}

.media-icons {
  font-size: 25px;
  padding-right: 20px;
  color: white;
}

/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .media-icons {
    font-size: 30px;
  }

  .copyright-styles {
    font-size: 15px;
  }

  .footer-icons {
    font-size: 40px;
  }

  .footer-text {
    font-size: 20px;
  }

  footer, a {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
}
/* Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1900px) {
  .media-icons {
    font-size: 40px;
  }

  .copyright-styles {
    font-size: 20px;
  }

  .footer-icons {
    font-size: 40px;
  }

  .footer-text {
    font-size: 30px;
  }

  .footer-link-container {
    display: flex;
    justify-content: space-evenly;
  }
}